openapi: 3.0.3
info:
  title: Okra API (Historical)
  description: >-
    RETIRED. Okra was an open finance / open banking infrastructure API for
    Africa (Nigeria). This OpenAPI documents the historical, now-discontinued
    REST surface. Okra ceased operations in May 2025 and the host api.okra.ng no
    longer resolves; the paths and Bearer-secret auth below are CONFIRMED from
    Okra's official okraHQ/okra-node SDK, but request/response body schemas are
    MODELED (reconstructed from SDK parameter models and archived documentation)
    and are illustrative rather than authoritative. Reads and writes alike used
    POST with a JSON filter body. Account linking happened client-side through
    the Okra Widget, producing the `record`/`customer` identifiers that data
    endpoints operate against.
  version: '2.0'
  contact:
    name: Okra (defunct)
    url: https://okra.ng
  x-status: retired
  x-ceased-operations: '2025-05'
  x-grounding: >-
    Endpoint paths, base URL, and Bearer-secret auth confirmed from
    github.com/okraHQ/okra-node (archived 2024-02-09). Body schemas modeled.
servers:
  - url: https://api.okra.ng/v2
    description: Production (retired - no longer resolves)
  - url: https://api.okra.ng/v2/sandbox
    description: Sandbox (retired - no longer resolves)
security:
  - okraSecret: []
tags:
  - name: Auth
    description: Authentication data for linked bank accounts.
  - name: Accounts
    description: Bank accounts a customer has linked.
  - name: Balance
    description: Real-time and cached account balances.
  - name: Transactions
    description: Categorized transaction history.
  - name: Identity
    description: Verified identity profiles.
  - name: Income
    description: Income and affordability signals.
  - name: Verification
    description: Nigerian KYC checks (BVN, NUBAN, TIN, RC).
  - name: Payments
    description: Bank-to-bank payments and direct-debit authorizations.
  - name: Banks
    description: Reference list of connectable banks.
  - name: Customers
    description: End-user (customer) management.
  - name: Wallet
    description: Billing wallet used to fund API usage.
  - name: Reports
    description: Scheduled financial reports.
paths:
  /products/auths:
    post:
      operationId: retrieveAuth
      tags: [Auth]
      summary: Retrieve authentication data
      description: Creates or refreshes the auth (account + NUBAN) record for a linked account.
      requestBody:
        $ref: '#/components/requestBodies/ProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/getByCustomer:
    post:
      operationId: getAuthByCustomer
      tags: [Auth]
      summary: Get auth records by customer
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/accounts:
    post:
      operationId: retrieveAccounts
      tags: [Accounts]
      summary: Retrieve linked accounts
      requestBody:
        $ref: '#/components/requestBodies/ProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /accounts/getByCustomer:
    post:
      operationId: getAccountsByCustomer
      tags: [Accounts]
      summary: Get accounts by customer
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /balance/check:
    post:
      operationId: checkBalance
      tags: [Balance]
      summary: Check real-time balance
      description: Returns a live balance for a linked account.
      requestBody:
        $ref: '#/components/requestBodies/AccountFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /balance/refresh:
    post:
      operationId: refreshBalance
      tags: [Balance]
      summary: Refresh balance
      requestBody:
        $ref: '#/components/requestBodies/AccountFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /transactions/process:
    post:
      operationId: processTransactions
      tags: [Transactions]
      summary: Process transactions
      requestBody:
        $ref: '#/components/requestBodies/ProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /transactions/refresh:
    post:
      operationId: refreshTransactions
      tags: [Transactions]
      summary: Refresh transactions
      requestBody:
        $ref: '#/components/requestBodies/AccountFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/transactions/download:
    post:
      operationId: downloadTransactions
      tags: [Transactions]
      summary: Download a transaction statement
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/identities:
    post:
      operationId: retrieveIdentity
      tags: [Identity]
      summary: Retrieve identity profile
      requestBody:
        $ref: '#/components/requestBodies/ProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/identity/merge:
    post:
      operationId: mergeIdentity
      tags: [Identity]
      summary: Merge identity records
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/income/process:
    post:
      operationId: processIncome
      tags: [Income]
      summary: Process income
      requestBody:
        $ref: '#/components/requestBodies/ProductFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/income/get:
    post:
      operationId: getIncome
      tags: [Income]
      summary: Get income
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/kyc/bvn-verify:
    post:
      operationId: verifyBvn
      tags: [Verification]
      summary: Verify a BVN
      requestBody:
        $ref: '#/components/requestBodies/KycFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/kyc/nuban-verify:
    post:
      operationId: verifyNuban
      tags: [Verification]
      summary: Verify a NUBAN account number
      requestBody:
        $ref: '#/components/requestBodies/KycFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/kyc/nuban-name-verify:
    post:
      operationId: verifyNubanName
      tags: [Verification]
      summary: Verify a NUBAN account name match
      requestBody:
        $ref: '#/components/requestBodies/KycFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/kyc/tin-verify:
    post:
      operationId: verifyTin
      tags: [Verification]
      summary: Verify a Tax Identification Number (TIN)
      requestBody:
        $ref: '#/components/requestBodies/KycFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /products/kyc/rc-verify:
    post:
      operationId: verifyRc
      tags: [Verification]
      summary: Verify a company registration (RC) number
      requestBody:
        $ref: '#/components/requestBodies/KycFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pay/initiate:
    post:
      operationId: initiatePayment
      tags: [Payments]
      summary: Initiate a bank-to-bank payment
      requestBody:
        $ref: '#/components/requestBodies/PaymentFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pay/verify:
    post:
      operationId: verifyPayment
      tags: [Payments]
      summary: Verify a payment
      requestBody:
        $ref: '#/components/requestBodies/PaymentFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /pay/link/create:
    post:
      operationId: createPaymentLink
      tags: [Payments]
      summary: Create a payment link
      requestBody:
        $ref: '#/components/requestBodies/PaymentFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /authorization/initiate:
    post:
      operationId: initiateAuthorization
      tags: [Payments]
      summary: Initiate a direct-debit authorization
      requestBody:
        $ref: '#/components/requestBodies/PaymentFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /bulkfiles/initiate:
    post:
      operationId: initiateBulkPayment
      tags: [Payments]
      summary: Initiate a bulk payment file
      requestBody:
        $ref: '#/components/requestBodies/PaymentFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /banks/list:
    post:
      operationId: listBanks
      tags: [Banks]
      summary: List connectable banks
      requestBody:
        $ref: '#/components/requestBodies/EmptyFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /banks/getById:
    post:
      operationId: getBankById
      tags: [Banks]
      summary: Get a bank by id
      requestBody:
        $ref: '#/components/requestBodies/IdFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/list:
    post:
      operationId: listCustomers
      tags: [Customers]
      summary: List customers
      requestBody:
        $ref: '#/components/requestBodies/EmptyFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/find-customers-by:
    post:
      operationId: findCustomersBy
      tags: [Customers]
      summary: Find customers by attribute
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /customers/remove:
    post:
      operationId: removeCustomer
      tags: [Customers]
      summary: Remove a customer
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /wallet/balance/check:
    post:
      operationId: checkWalletBalance
      tags: [Wallet]
      summary: Check billing wallet balance
      requestBody:
        $ref: '#/components/requestBodies/EmptyFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /reports/schedule:
    post:
      operationId: scheduleReport
      tags: [Reports]
      summary: Schedule a financial report
      requestBody:
        $ref: '#/components/requestBodies/CustomerFilter'
      responses:
        '200':
          $ref: '#/components/responses/OkraData'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  securitySchemes:
    okraSecret:
      type: http
      scheme: bearer
      description: >-
        Okra Secret key issued in the Okra dashboard, sent as
        `Authorization: Bearer <secret>`. Confirmed from okraHQ/okra-node.
  requestBodies:
    ProductFilter:
      description: Modeled product-record filter body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ProductFilter'
    CustomerFilter:
      description: Modeled customer-scoped filter body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CustomerFilter'
    AccountFilter:
      description: Modeled account-scoped filter body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountFilter'
    KycFilter:
      description: Modeled KYC verification body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KycFilter'
    PaymentFilter:
      description: Modeled payment body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentFilter'
    IdFilter:
      description: Modeled id-lookup body.
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/IdFilter'
    EmptyFilter:
      description: Modeled empty/optional filter body.
      required: false
      content:
        application/json:
          schema:
            type: object
            additionalProperties: true
  responses:
    OkraData:
      description: >-
        MODELED. Okra responses were JSON envelopes of the form
        {status, message, data}. The exact `data` shape varied per product and
        is not reproduced authoritatively here.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OkraEnvelope'
    Unauthorized:
      description: Missing or invalid Okra Secret.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OkraEnvelope'
  schemas:
    ProductFilter:
      type: object
      description: Modeled. Typical product call scoped by a linked record and/or customer.
      properties:
        record:
          type: string
          description: The record id produced when the customer linked a bank via the Okra Widget.
        customer:
          type: string
          description: The Okra customer id.
        page:
          type: integer
        limit:
          type: integer
      additionalProperties: true
    CustomerFilter:
      type: object
      description: Modeled. Customer-scoped filter, optionally with a date range.
      properties:
        customer:
          type: string
        from:
          type: string
          format: date
        to:
          type: string
          format: date
        page:
          type: integer
        limit:
          type: integer
      additionalProperties: true
    AccountFilter:
      type: object
      description: Modeled. Account-scoped filter.
      properties:
        account_id:
          type: string
        customer:
          type: string
      additionalProperties: true
    KycFilter:
      type: object
      description: Modeled. KYC verification input (one of bvn, nuban, tin, rc, etc.).
      properties:
        bvn:
          type: string
        nuban:
          type: string
        bank:
          type: string
        tin:
          type: string
        rc_number:
          type: string
      additionalProperties: true
    PaymentFilter:
      type: object
      description: Modeled. Payment / authorization input.
      properties:
        amount:
          type: string
        currency:
          type: string
          example: NGN
        customer:
          type: string
        account_to_debit:
          type: string
        account_to_credit:
          type: string
      additionalProperties: true
    IdFilter:
      type: object
      description: Modeled. Single-resource lookup by id.
      properties:
        id:
          type: string
      required:
        - id
      additionalProperties: true
    OkraEnvelope:
      type: object
      description: Modeled Okra response envelope.
      properties:
        status:
          type: string
          example: success
        message:
          type: string
        data:
          type: object
          additionalProperties: true
      additionalProperties: true
